In [3]:
import os
import pandas as pd

os.chdir('..')
print(os.getcwd())

c:\Users\User\Desktop\DS\Projects\oil-optimization

In [9]:
df = pd.read_csv('data/processed/features.csv')
df[['period','cpi_energy','oil_production']]

         period  cpi_energy  oil_production
0    2015-01-02     199.926        581987.0
1    2015-01-09         NaN             NaN
2    2015-01-16         NaN             NaN
3    2015-01-23         NaN             NaN
4    2015-01-30         NaN             NaN
..          ...         ...             ...
560  2025-09-26         NaN             NaN
561  2025-10-03         NaN             NaN
562  2025-10-10         NaN             NaN
563  2025-10-17         NaN             NaN
564  2025-10-24         NaN             NaN

[565 rows x 3 columns]

In [16]:
df.describe().T['std']

gasoline_price                 0.641867
Exports                     1452.241222
Imports                      890.502017
East Coast (PADD 1)          202.916674
Midwest (PADD 2)             255.363922
Gulf Coast (PADD 3)          636.342601
Rocky Mountain (PADD 4)       48.680912
West Coast (PADD 5)          227.527275
us_dollar_index                5.501234
volatility_index               6.975763
cpi_energy                    39.489160
oil_production             99079.272619
Name: std, dtype: float64

### Feature engineering
* Splitting
* Scaling
* Filling nulls